<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OpenSquare Startup</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/lib/css/normalize.css/normalize.css" rel="stylesheet" />
    <link href="~/lib/npm/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    
    <link href="~/lib/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/lib/css/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->

    <link href="~/css/AdminLTE.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/css/skins/_all-skins.css" rel="stylesheet" />


    <script src="~/lib/npm/es6-shim/es6-shim.min.js"></script>

    <script src="~/lib/npm/zone.js/dist/zone.min.js"></script>

    <script src="~/lib/npm/reflect-metadata/Reflect.js"></script>

    <script src="~/lib/npm/systemjs/dist/system.src.js"></script>
    
    <script src="~/app/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</head>
<body class="hold-transition skin-purple sidebar-mini">
    <!-- Site wrapper -->
    <my-app>Loading...</my-app>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="~/lib/npm/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/lib/npm/bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->

    <script src="~/lib/npm/slimScroll/jquery.slimscroll.js"></script>
    <!-- FastClick -->

    <script src="~/lib/npm/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/js/app.js"></script>
    <!-- AdminLTE for demo purposes -->

    <script src="~/lib/js/demo.js"></script>
</body>
</html>
